.footer{
    padding-top: 2rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.5rem;
    .footer-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:1rem;
        .footer-nav{
            display: flex;
            align-items: center;
            gap:1rem;
            .link{
                text-decoration: none;
                color: #3f3f3f;
                opacity: .9;
                cursor: pointer;
            }
        }
        .footer-socials{
            display: flex;
            align-items: center;
            gap:1rem;
            img{
                width: 36px;
                opacity: .7;
                cursor: pointer;
            }
        }
    }
    .copyright{
        font-size: .8rem;
        opacity: .7;
    }
}
@media only screen and (min-width:1050px){
    .footer{
        .footer-items{
            flex-direction: row;
            width: 80vw;
            justify-content: space-between;
            font-size: 1.2rem;
            .footer-nav{
                gap:1.5rem;
                .link{
                    &:hover{
                        opacity: 1;
                        font-size: 1.28rem;
                        transition: 200ms ease-in-out;
                    }
                }
            }
            .footer-socials{
                gap:1.5rem;
                img{
                    width: 42px;
                    &:hover{
                        opacity: 1;
                        transition: 200ms ease-in-out;
                    }
                }
            }
        }
    }
}